/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
  background-color: transparent;
  border: none;
}
#logo {
  height: 2.5rem;
  cursor: pointer;
}

header{
  display: flex;
  padding: 0 5rem;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

#little-search {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  border: 1px solid #DDD;
  border-radius: 3rem;
  min-width: 22rem;
  height: 3rem;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(0, 0, 0 , 8%), 0 4px 12px rgb(0, 0, 0 , 5%);
}

#little-search * {
  cursor: pointer;
}

.little-search_button{
  padding: 0 1rem;
  white-space: nowrap;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.little-search_button:nth-of-type(3){
  color: #717171;

}

.divider{
  flex-basis: 1px;
  background-color: #DDD;
  height: 1.5rem;
}

#magnifying-glass-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff385c;
  border-radius: 50%;
  flex-shrink: 0;
  flex-basis: 2rem;
  height: 2rem;
}

#magnifying-glass-icon{
  width: 1rem;
}

#header-right-section{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#do-airbnb{
  font-size: 0.9rem;
  color: #222;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem ;
}

#do-airbnb:hover{
  background-color: #f7f7f7;
}

#profile-section {
  display: flex;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem; 
  align-items: center;
  border: 1px solid #DDD;
  border-radius: 1.5rem;
  gap: 0.8rem;
  cursor: pointer;
}

#profile-section:hover{
  box-shadow: 0 1px 2px rgb(0, 0, 0 , 8%), 0 4px 12px rgb(0, 0, 0 , 5%);
}

#profile-section img:nth-child(1){
  width: 1rem;
}

#profile-section img:nth-child(2){
  width: 2rem;
}

#category-bar{
  display: flex;
  padding: 1.5rem 2.5rem 0;
  gap: 2rem ;
  overflow: auto;
}

#category-bar::-webkit-scrollbar{
  display: none;
}

.active-img{
  display: none;
}

.category-button{
  color: #717171;
  height: 4rem;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.category-button img{
  width: 1.8rem;
}

.category-button:hover{
  color: #000;
  border-bottom: 2px solid #DDD;
}

.category-button:hover .active-img{
  display: inline-block;
}

.category-button:hover .inactive-img{
  display: none;
}

#active-category-button {
  color: #000;
  border-bottom: 2px solid #000;
}

#active-category-button .active-img{
  display: inline-block;
}

#active-category-button .inactive-img{
  display: none;
}